<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
    <link href="/stylesheets/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/main-style.css" rel="stylesheet" />
    <link href="/stylesheets/morris-0.4.3.min.css" rel="stylesheet" />

    <!-- CUSTOM STYLES-->
    <link href="/stylesheets/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body>

    {{{body}}}

     <!-- Core Scripts - Include with every page -->
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.metisMenu.js"></script>
    <script src="/javascripts/pace.js"></script>
    <script src="/javascripts/siminta.js"></script>

    <script src="/javascripts/raphael-2.1.0.min.js"></script>
    <script src="/javascripts/morris.js"></script>
    <script src="/javascripts/custom.js"></script>

</body>
</html>